.image-container {
    justify-content: space-around;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.class-information {
    font-size: 16px;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            -2px 0 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            0 2px 0 #000,
            -2px -2px 0 #000,
            -2px 2px 0 #000,
            2px -2px 0 #000,
            2px 2px 0 #000;
    color: white;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.class-container {
    display: inline-flex;
    flex-direction: column;
}

.class-image {
    filter: grayscale(100%); /* Make the image black and white */
    transition: filter 0.4s ease, transform 0.4s ease;
    cursor: pointer;
    transform: scale(0.9);
}

.class-name {
    font-size: 28px;
    margin-left: 60px;
    margin-top: 0;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            -2px 0 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            0 2px 0 #000,
            -2px -2px 0 #000,
            -2px 2px 0 #000,
            2px -2px 0 #000,
            2px 2px 0 #000;}

.class-image:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.class-container.selected {
    background-color: rgba(110, 110, 110, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

.warrior:hover {
    filter: drop-shadow(0 0 2rem #7a0000);
    transition: 0.5s ease-in-out;
}
.warrior.highlight {
    filter: drop-shadow(0 0 1.1rem #c90000);
    transform: scale(1);
}
.archer:hover {
    filter: drop-shadow(0 0 2rem rgba(34, 225, 34, 0.56));
    transition: 0.5s ease-in-out;
}
.archer.highlight {
    filter: drop-shadow(0 0 1rem rgba(10, 255, 10, 0.56));
    transform: scale(1);
}
.mage:hover {
    filter: drop-shadow(0 0 2.5rem #1b46b2);
    transition: 0.5s ease-in-out;
}
.mage.highlight {
    filter: drop-shadow(0 0 1rem #1b46b2);
    transform: scale(1);
}
.healer:hover {
    filter: drop-shadow(0 0 1.7rem goldenrod);
    transition: 0.5s ease-in-out;
}
.healer.highlight {
    filter: drop-shadow(0 0 1rem goldenrod);
    transform: scale(1);
}



