.map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.background-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-background {
    max-width: 70%;
    max-height: 100%;
    object-fit: contain; /* Ensure the background image is centered */
}

.house-container {
    position: absolute;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.house {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.house.hovered {
    transform: scale(1.1) translateY(-15px); /* Grow the image and move it up on hover */
}

.house-label {
    position: absolute;
    top: -30px; /* Adjust the position as needed */
    color: white;
    font-size: 16px; /* Adjust the size as needed */
    text-align: center;
}

.house-container img {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}

.house-container:hover .house {
    width: 230px; /* Adjust the size as needed */
    height: 230px; /* Adjust the size as needed */
}

.house-container:hover .house::before {
    opacity: 1;
}
