.map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.background-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-background {
    max-width: 70%;
    max-height: 100%;
    object-fit: contain; /* Ensure the background image is centered */
}

.house-container {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.house-inner {
    width: 100px; /* Smaller hover area */
    height: 100px; /* Smaller hover area */
    display: flex;
    align-items: center;
    justify-content: center;
}

.house {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.house.hovered {
    transform: scale(1.05); /* Slightly grow the image on hover */
}

.house-label {
    position: absolute;
    top: -30px; /* Adjust the position as needed */
    color: white;
    font-size: 16px; /* Adjust the size as needed */
    text-align: center;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            -2px 0 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            0 2px 0 #000,
            -2px -2px 0 #000,
            -2px 2px 0 #000,
            2px -2px 0 #000,
            2px 2px 0 #000;
}

.house-container:hover .house::before {
    opacity: 1;
}
