@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');

* {
  cursor: url('D:\Licence\rpgFE\rpg-frontend\public\figmaExports\Normal Select.cur'), auto;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("D:\Licence\rpgFE\rpg-frontend\public\figmaExports\BGimage.png");
  background-size: cover;
  overflow: hidden;
}

body {
  font-family: 'Hanuman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, textarea {
  font-family: 'Hanuman', sans-serif;
}
