.layout {
    position: relative;
}

.logo-container {
    position: fixed;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it stays on top */
    pointer-events: none; /* Prevent it from blocking other interactions */
}

.logo {
    width: 550px; /* Adjust as needed */
    height: auto;
}

.content {
    position: relative;
    z-index: 1; /* Ensure content stays below the logo */
}
